/* iOS Cordova Tweak */

.device-cordova.device-ios {
    height: 100vh;
}

/* Your app custom styles here */

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-25 {
    font-size: 25px;
}

.button.icon-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
}

.button.icon-inside i {
    position: static;
}

.trash-status-header {
    margin-bottom: 3px;
    font-weight: 500 !important;
}

.trash-card-footer {
    margin-top: 9px;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.chip.trash-transport {
    height: 26px;
    margin-right: 7px;
}

.trash-card-footer .item-after {
    align-self: center;
    font-size: 14px;
}

.fab.fab-hidden {
    transform: scale(0);
    transition: transform .2s linear;
}

.fab {
    transform: scale(1);
    transition: transform .2s linear;
}

.object-images-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: var(--f7-list-item-min-height);
    margin: 1em 0;
}

.object-images-content .item-media {
    align-self: flex-start;
    position: relative;
}

.object-images-content.item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: var(--f7-list-item-padding-vertical);
    padding-top: var(--f7-list-item-padding-vertical);
}

.object-images-content .item-inner {
    display: block;
    align-self: stretch;
}

.object-images-content .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    padding-top: var(--f7-list-item-padding-vertical);
    padding-bottom: var(--f7-list-item-padding-vertical);
    min-height: var(--f7-list-item-min-height);
    padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
    padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
}

.object-images-content .badge.object-count {
    position: absolute;
    right: -9px;
    top: -9px;
    height: 22px;
    min-width: 22px;
}

.media-list .item-media img, .object-images-content .item-media img {
    border-radius: 2px;
}

.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
}

.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}

.object-photo-slider .swiper-slide {
    border: none;
}

.object-photo-slider-empty .swiper-slide {
    border: none;
    /* border-bottom: 1px solid #ddd; */
}

.object-header {
    /* margin-top: 16px; */
    font-size: 20px;
}

.demo-swiper {
    font-size: 18px;
    height: 150px;
}

.object-photo-slider.demo-swiper {
    height: 200px;
}

.swiper-add-wrap {
    position: relative;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.demo-swiper.object-photo-slider-empty .swiper-slide {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
}

.demo-swiper.object-create-slider-hidden {
    visibility: hidden;
    height: 0;
}

.fab.object-add-photo, .fab.object-attach-photo {
    position: absolute;
    bottom: -25px;
}

.fab.object-add-photo {
    right: 95px;
}

.fab.object-attach-photo {
    right: 21px;
}

.fab.object-add-photo>a, .fab.object-attach-photo>a {
    width: 50px;
    height: 50px;
}

.uploaded-camera-image {
    max-width: 100%;
    object-fit: cover;
}

.header-address {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.global-object-map {
    height: 100%;
}

.create-object-map {
    height: 320px;
}

.hairline-bottom::after {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / 1));
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.hairline-top::before {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scaleY(calc(1 / 1));
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.create-object-map-empty {
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leaflet-container::after {
    text-align: center;
}

.user-location-not-found.leaflet-container::after {
    animation: leaflet-gestures-fadein 0.8s backwards;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 461;
    pointer-events: none;
    content: 'Локация неизвестна';
}

.object-coordinates {
    justify-content: inherit;
    display: none;
}

#user-location-coordinates {
    margin-left: 5px;
}

.create-object-map {
    border-radius: var(--f7-card-border-radius) var(--f7-card-border-radius) 0 0;
}