.device-cordova.device-ios {
    height: 100vh;

}

.statusbar {
    transition: 400ms;
}

/* Navbar fill */
:root,
:root.theme-light,
:root .theme-light {
  --f7-navbar-bg-color: #2dbb3d;
  --f7-navbar-text-color: #fff;
  --f7-navbar-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-navbar-border-color: transparent;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: transparent;
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}

/* App color theme */
:root {
    --f7-theme-color: #2dbb3d;
    --f7-theme-color-rgb: 45, 187, 61;
    --f7-theme-color-shade: #259a32;
    --f7-theme-color-tint: #40d150;
}

html {
    -webkit-user-select: none;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-24 {
    font-size: 24px;
}

.size-26 {
    font-size: 26px;
}

.size-28 {
    font-size: 28px;
}

.button.icon-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
}

.button.icon-inside i {
    position: static;
}

.trash-status-header {
    margin-bottom: 3px;
    font-weight: 500 !important;
}

.trash-card-footer {
    margin-top: 9px;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: var(--f7-list-item-after-font-size);
    font-weight: 400;
    font-weight: var(--f7-list-item-after-font-weight);
    line-height: var(--f7-list-item-after-line-height);
    color: var(--f7-list-item-text-text-color);
}

.chip.trash-transport {
    height: 26px;
    margin-right: 7px;
}

.trash-card-footer .item-after {
    align-self: center;
    font-size: 14px;
}

.fab.fab-hidden {
    transform: scale(0);
    transition: transform .2s linear;
}

.fab {
    transform: scale(1);
    transition: transform .2s linear;
}

.object-images-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: var(--f7-list-item-min-height);
    margin: 1em 0;
}

.object-images-content .item-media {
    align-self: flex-start;
    position: relative;
}

.object-images-content.item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: var(--f7-list-item-padding-vertical);
    padding-top: var(--f7-list-item-padding-vertical);
}

.object-images-content .item-inner {
    display: block;
    align-self: stretch;
}

.object-images-content .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    padding-top: var(--f7-list-item-padding-vertical);
    padding-bottom: var(--f7-list-item-padding-vertical);
    min-height: var(--f7-list-item-min-height);
    padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
    padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
}

.object-images-content .badge.object-count {
    position: absolute;
    right: -9px;
    top: -9px;
    height: 22px;
    min-width: 22px;
}

.media-list .item-media img, .object-images-content .item-media img {
    border-radius: 2px;
}

.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
}

.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}

.object-photo-slider .swiper-slide {
    border: none;
}

.object-photo-slider-empty .swiper-slide {
    border: none;
    /* border-bottom: 1px solid #ddd; */
}

.object-header {
    /* margin-top: 16px; */
    font-size: 20px;
}

.demo-swiper {
    font-size: 18px;
    height: 150px;
}

.object-photo-slider.demo-swiper {
    height: 200px;
}

.swiper-add-wrap {
    position: relative;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.demo-swiper.object-photo-slider-empty .swiper-slide {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
}

.demo-swiper.object-create-slider-hidden {
    visibility: hidden;
    height: 0;
}

.fab.object-add-photo,
.fab.object-attach-photo,
.fab.object-delete-photo {
    position: absolute;
    bottom: -25px;
}

.fab.object-add-photo {
    right: 95px;
}

.fab.object-attach-photo {
    right: 21px;
}

.fab.object-delete-photo {
    left: 21px;
    display: none;
}

.fab.object-add-photo>a,
.fab.object-attach-photo>a,
.fab.object-delete-photo>a {
    width: 50px;
    height: 50px;
}

.uploaded-camera-image {
    max-width: 100%;
    object-fit: cover;
}

.header-address {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.global-object-map {
    height: 100%;
}

.create-object-map {
    height: 320px;
}

.hairline-bottom::after {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / 1));
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.hairline-top::before {
    content: '';
    position: absolute;
    background-color: var(--f7-list-border-color);
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scaleY(calc(1 / 1));
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.create-object-map-empty {
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leaflet-container::after {
    text-align: center;
}

.user-location-not-found.leaflet-container::after {
    animation: leaflet-gestures-fadein 0.8s backwards;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 461;
    pointer-events: none;
    content: 'Локация неизвестна';
}

.object-coordinates {
    justify-content: inherit;
    display: none;
}

#user-location-coordinates {
    margin-left: 5px;
}

.create-object-map {
    border-radius: var(--f7-card-border-radius) var(--f7-card-border-radius) 0 0;
}

.trash-card .item-text {
    color: rgb(33, 33, 33);
}

.trash-card .item-subtitle {
    white-space: inherit;
}

.user-api-key {
    white-space: initial;
    word-break: break-all;
    margin-bottom: 0;
}

.leaflet-control-locate a {
    font-size: 18px;
}

.fab-right-bottom.locate-control-start {
    bottom: 85px;
    position: fixed;
}

.fab > span,
.fab-buttons span {
    background-color: var(--f7-theme-color);
    background-color: var(--f7-fab-bg-color, var(--f7-theme-color));
    width: var(--f7-fab-size);
    height: var(--f7-fab-size);
    box-shadow: var(--f7-fab-box-shadow);
    border-radius: calc(var(--f7-fab-size) / 2);
    position: relative;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    color: var(--f7-fab-text-color);
}

.fab span {
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
}

.fab > span i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
}

.locate-control-start .fas.fa-spinner {
    font-size: 24px;
    position: initial;
}

.locate-control-start .fas.fa-spinner span,
.create-object-map .fas.fa-spinner span {
    display: none;
}

.create-object-map .leaflet-control-locate i {
    line-height: 1.25;
}

.social-login-icon {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px;
}
